BINANCE_API_KEY=your_api_key
BINANCE_API_SECRET=your_api_secret
DINGTALK_WEBHOOK=https://oapi.dingtalk.com/robot/send?access_token=xxx
DINGTALK_SECRET=SECxxx
API_KEY=your_api_key_here
PROXY_HTTP=
PROXY_HTTPS=
